@import "./colors.scss";

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  span:first-child {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
  }
  span:last-child {
    font-size: 20px;
    margin: 0;
  }
  .modal__button {
    width: 309px;
    height: 57px;
    background-color: $primaryBackground;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 30px #29315aa8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    cursor: pointer;
  }
}
