.author__page {
  height: 100vh;
  width: 65%;
}
.author__tag {
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
  }
  p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 34px;
  }
  .author__image {
    filter: drop-shadow(0px 0px 17px #29315a00);
  }
}

.author__book__container {
  margin-top: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 70vh;
  overflow-y: scroll;
  grid-gap: 10px 0px;
  margin-left: 60px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.book__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  cursor: pointer;
  width: 150px;
  height: 250px;
  .book__layout {
    width: 111.03px;
    height: 147px;
    background: rgba(41, 49, 90, 0.58);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 80px;
      height: 114px;
      object-fit: contain;
    }
  }
  p {
    font-size: 12px;
    text-align: center;
  }
}

//................................................................//
//................................................................//
// MAX 480
//................................................................//
//................................................................//
@media (max-width: 480px) {
  .author__page {
    height: 100vh;
    width: 90%;
  }
  .author__tag {
    display: flex;
    margin-left: 6%;
    margin-top: 50px;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      object-fit: cover;
    }
    p {
      font-size: 30px;
      font-weight: bold;
      margin-left: 30px;
    }
    .author__image {
      width: 80px;
      height: 80px;
      filter: drop-shadow(0px 0px 17px #29315a00);
    }
  }

  .author__book__container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: flex-start;
    align-items: baseline;
    height: 80vh;
    overflow-y: scroll;
    grid-gap: 0px 0px;
    margin-left: 0px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .book__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    cursor: pointer;
    width: 160px;
    height: 260px;
    .book__layout {
      width: 91.03px;
      height: 127px;
      background: rgba(41, 49, 90, 0.58);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 67px;
        height: 108px;
        object-fit: contain;
      }
    }
    p {
      font-size: 9.5px;
      text-align: center;
    }
  }
}

//................................................................//
//................................................................//
// MAX 820
//................................................................//
//................................................................//
@media (min-width: 480px) and (max-width: 820px) {
  .author__page {
    height: 100vh;
    width: 100%;
  }
  .author__tag {
    display: flex;
    margin-left: 0px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      object-fit: cover;
    }
    p {
      font-size: 30px;
      font-weight: bold;
      margin-left: 30px;
    }
    .author__image {
      width: 100px;
      height: 100px;
      filter: drop-shadow(0px 0px 17px #29315a00);
    }
  }

  .author__book__container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: flex-start;
    align-items: baseline;
    height: 80vh;
    overflow-y: scroll;
    grid-gap: 10px 0px;
    margin-left: 0px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .book__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    cursor: pointer;
    width: 160px;
    height: 260px;
    .book__layout {
      width: 121.03px;
      height: 157px;
      background: rgba(41, 49, 90, 0.58);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
        height: 134px;
        object-fit: contain;
      }
    }
    p {
      font-size: 12px;
      text-align: center;
    }
  }
}
