.author__tag {
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
  align-items: center;
  p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 34px;
  }
}

.author__container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 70vh;
  margin-left: 60px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.author__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  cursor: pointer;
  width: 150px;
  height: 250px;
  .author__layout {
    width: 111.03px;
    height: 147px;
    background: #29315a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 104px;
      height: 140px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  p {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .author__tag {
    margin-left: 5px;
    p {
      font-size: 20px;
      margin-left: 15px;
    }
  }

  .author__container {
    width: 100%;
    grid-template-columns: auto auto auto;
    gap: 0px 0px;
    height: 70vh;
    margin-left: 20px;
  }

  .author__card {
    margin-left: 2%;
    width: 120px;
    height: 220px;
    .author__layout {
      width: 91.03px;
      height: 127px;
      border-radius: 8px;
      img {
        width: 84px;
        height: 120px;
        border-radius: 4px;
      }
    }
    p {
      font-size: 12px;
    }
  }
}
