@import "./colors.scss";

//................................................................//
//................................................................//
// MAX 480
//................................................................//
//................................................................//
@media (max-width: 480px) {
  .menu__container {
    width: 70%;
    height: 100vh;
    background-color: $primaryBackground;
    position: absolute;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 15px 15px 0;
  }

  .menu__container__nouser {
    width: 70%;
    height: 100vh;
    background-color: $primaryBackground;
    position: absolute;
    z-index: 10;
    color: white;
  }

  .about__us {
    position: absolute;
    top: 0;
    text-align: start;
    margin: 0%;
    width: 100%;
    font-size: 8px;
    padding: 14px;
    cursor: pointer;
    &:hover {
      color: #ffffff70;
    }
  }

  .close {
    position: absolute;
    top: 0;
    text-align: end;
    margin: 0%;
    width: 100%;
    font-size: 8px;
    padding: 14px;
    cursor: pointer;
    &:hover {
      color: #ffffff70;
    }
  }
}

//................................................................//
//................................................................//
// MAX 820
//................................................................//
//................................................................//
@media (min-width: 480px) and (max-width: 820px) {
  .menu__container {
    width: 50%;
    height: 100vh;
    background-color: $primaryBackground;
    position: absolute;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 10px 10px 0;
  }

  .menu__container__nouser {
    width: 50%;
    height: fit-content;
    background-color: $primaryBackground;
    position: absolute;
    z-index: 10;
    color: white;
  }

  .about__us {
    position: absolute;
    top: 0;
    text-align: start;
    margin: 0%;
    width: 100%;
    font-size: 14px;
    padding: 14px;
    cursor: pointer;
    &:hover {
      color: #ffffff70;
    }
  }

  .close {
    position: absolute;
    top: 0;
    text-align: end;
    margin: 0%;
    width: 100%;
    font-size: 14px;
    padding: 14px;
    cursor: pointer;
    &:hover {
      color: #ffffff70;
    }
  }
}
