@import "./colors.scss";

.container {
  width: 35%;
  background-color: $primaryBackground;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #ffffff;
}

.about__us {
  position: absolute;
  top: 0;
  text-align: end;
  margin: 0%;
  width: 35%;
  font-size: 10px;
  padding: 14px;
  cursor: pointer;
  &:hover {
    color: #ffffff70;
  }
}

.footer__copyright {
  position: absolute;
  bottom: 0;
  width: 35%;
  text-align: center;
  padding-bottom: 0.5%;
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 2.8125em;
  .profile__name {
    margin-left: 1.925em;
    h4 {
      margin: 0;
      font-style: bold;
      font-size: 17px;
    }
    p {
      margin: 0;
      color: rgba(255, 255, 255, 0.57);
      font-size: 12px;
    }
  }
  img {
    width: 4.125em;
    height: 4.375em;
    border-radius: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 1px 32px rgba(234, 19, 19, 0.45));
  }
}

.menu {
  height: 1.625em;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .menuItem {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 0.9375em 2.8125em 0.9375em 2.8125em;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.253);
      transition: opacity 1s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      margin-left: 2.1875em;
      left: 0;
      bottom: 0;
      border-bottom: 2px solid rgba(255, 253, 253, 0.09);
      width: 89%;
      height: 2px;
    }
  }
}

.current__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-weight: bold;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.52);
  }
  .current__reading {
    display: flex;
    background-color: white;
    width: 21.5625em;
    height: 6.8125em;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    img {
      width: 3.9375em;
      height: 5.8125em;
      margin-left: 0.625em;
      margin-right: 1.5625em;
      object-fit: contain;
      filter: drop-shadow(4px 1px 20px #29315a);
    }
    p:first-child {
      color: black;
      font-size: 17px;
      font-weight: bold;
      margin: 0;
    }
    p:last-child {
      color: black;
      font-size: 12px;
      margin: 0;
    }
  }
}
