@import "./colors.scss";

.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modal__details {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .modal__button {
    width: 200px;
    height: 47px;
    background-color: $primaryBackground;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 30px #29315a00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    cursor: pointer;
    &:hover {
      background-color: #475bc0;
    }
  }
}

.box__container {
  position: absolute;
  top: 50%;
  left: 55%;
  width: 380px;
  height: 250px;
  transform: translate(-50%, -50%);
  border: none;
  background-color: white;
  border-radius: 10px;
  padding: 4%;
}

//................................................................//
//................................................................//
// MAX 480
//................................................................//
//................................................................//
@media (max-width: 480px) {
  .box__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 210px;
    transform: translate(-50%, -50%);
    border: none;
    background-color: white;
    border-radius: 10px;
    padding: 4%;
  }
}
